* {
    margin: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
}

body p {
    font-size: 15px;
}

.main-container {
    height: 100vh;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-content {
    flex: 1;
}

.qr-code-card {
    background-color: hsl(0, 0%, 100%);
    width: 288px;
    padding: 16px 16px 35px;
    border-radius: 20px;
}

.qr-code-container {
    margin: 0;
}

.qr-code-img {
    width: 100%;
    border-radius: 10px;
}

.qr-code-cap {
    text-align: center;
    margin-top: 24px;
    gap: 16px;
}

.qr-code-cap h3 {
    color: hsl(218, 44%, 22%);
    font-size: 22px;
    line-height: 1.2;
}

.qr-code-cap p {
    color: hsl(216, 15%, 48%);
    font-size: 15px;
    line-height: 1.4;
}

.attribution { 
    font-size: 11px;
    text-align: center;
    padding: 8px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}